In [6]:
#importando o pandas
import pandas as pd
df = pd.read_csv(".\passwords.csv")

display(df)

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,1,password,password-related,6.91,years,2.170000e+00,1,8,11
1,2,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2,4,8
2,3,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3,4,8
3,4,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4,4,8
4,5,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5,8,11
...,...,...,...,...,...,...,...,...,...
495,496,reddog,cool-macho,3.72,days,3.210000e-03,498,6,10
496,497,alexande,name,6.91,years,2.170000e+00,499,9,12
497,498,college,nerdy-pop,3.19,months,8.350000e-02,500,7,11
498,499,jester,name,3.72,days,3.210000e-03,501,7,11
499,500,passw0rd,password-related,92.27,years,2.902000e+01,502,28,21