In [9]:
#importando o pandas
import pandas as pd
df = pd.read_csv(".\passwords.csv")


display(df)

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,1,password,password-related,6.91,years,2.170000e+00,1,8,11
1,2,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2,4,8
2,3,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3,4,8
3,4,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4,4,8
4,5,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5,8,11
...,...,...,...,...,...,...,...,...,...
495,496,reddog,cool-macho,3.72,days,3.210000e-03,498,6,10
496,497,alexande,name,6.91,years,2.170000e+00,499,9,12
497,498,college,nerdy-pop,3.19,months,8.350000e-02,500,7,11
498,499,jester,name,3.72,days,3.210000e-03,501,7,11
499,500,passw0rd,password-related,92.27,years,2.902000e+01,502,28,21

In [35]:
print("--------------Dados categóricos não ordenados-----------------")
print("\n")
print("Column Password")
display(df.password)
print("\n")

--------------Dados categóricos não ordenados-----------------


Column Password

0      password
1        123456
2      12345678
3          1234
4        qwerty
         ...
495      reddog
496    alexande
497     college
498      jester
499    passw0rd
Name: password, Length: 500, dtype: object

In [36]:
print("--------------Dados categóricos ordenados-----------------")
print("\n")
print("Column Category")
display(df.category)
print("\n")
print("\n")
print("Column Time Unit")
display(df.time_unit)
print("\n")

--------------Dados categóricos ordenados-----------------


Column Category

0         password-related
1      simple-alphanumeric
2      simple-alphanumeric
3      simple-alphanumeric
4      simple-alphanumeric
              ...
495             cool-macho
496                   name
497              nerdy-pop
498                   name
499       password-related
Name: category, Length: 500, dtype: object

Column Time Unit

0        years
1      minutes
2         days
3      seconds
4         days
        ...
495       days
496      years
497     months
498       days
499      years
Name: time_unit, Length: 500, dtype: object

In [32]:

print("--------------Dados numéricos discretos-----------------------")
print("\n")
print("Column Rank ")
display(df.rank)
print("\n")
print("\n")
print("Column strength")
display(df.strength)
print("\n")

--------------Dados numéricos discretos-----------------------


Column Rank

0        1
1        2
2        3
3        4
4        5
      ...
495    498
496    499
497    500
498    501
499    502
Name: rank_alt, Length: 500, dtype: int64

Column strength

0       8
1       4
2       4
3       4
4       8
       ..
495     6
496     9
497     7
498     7
499    28
Name: strength, Length: 500, dtype: int64

In [39]:

print("--------------Dados numéricos ordenados-----------------------")
print("\n")
print("Column Value ")
display(df.value)
print("\n")
print("\n")
print("Column offline_crack_sec	 ")
display(df.offline_crack_sec)
print("\n")

--------------Dados numéricos ordenados-----------------------


Column Value

0       6.91
1      18.52
2       1.29
3      11.11
4       3.72
       ...
495     3.72
496     6.91
497     3.19
498     3.72
499    92.27
Name: value, Length: 500, dtype: float64

Column offline_crack_sec

0      2.170000e+00
1      1.110000e-05
2      1.110000e-03
3      1.110000e-07
4      3.210000e-03
           ...
495    3.210000e-03
496    2.170000e+00
497    8.350000e-02
498    3.210000e-03
499    2.902000e+01
Name: offline_crack_sec, Length: 500, dtype: float64